- if current_user && stack.can_change_status?(current_user)
  = form_for [@project, stack], :html => { :id => "status-#{stack.id}" }, :remote => true do |f|
    = f.hidden_field :status
    %fieldset
      = f.hidden_field :status, :value => (stack.cycle_status)
      = f.hidden_field :username, :value => current_user
      - submit_button stack.cycle_status
  = form_for [@project, stack], :html => { :id => "abort-#{stack.id}" }, :remote => true do |f|
    %fieldset
      = f.hidden_field :status, :value => "incoming"
      - submit_button "abort"
