%tr{ :class => (h stack.status) }
  %td{ :title => (h stack.identifier) }
    = link_to "#{stack.identifier}", project_stack_path(@project, stack)
  %td
    = number_of_exceptions_for_usertimeslice(stack)
  %td
    = stack.notifications_count
  %td
    = stack.category
  %td
    = stack.status
    =" (#{stack.username})" if stack.username
  %td
    = stack.updated_at.to_s(:short)
  %td
    = stack.last_occurred_at.to_s(:short)
  %td{ :class => "action" }
    = render :partial => "processing_actions", :locals => { :stack => stack }