- form_for @user_session, :url => login_path, :html => { :class => "login form" } do |f|
  %fieldset
    %legend
      %span
        Login
    %ul
      %li
        = f.label :username, "Username"
        = f.text_field :username
      %li
        = f.label :password, "Password"
        = f.password_field :password
      %li
        = f.label :remember_me, "Remember me"
        = f.check_box :remember_me
  %fieldset
    - submit_button "Login"